h1{
    border: solid 5px;
    border-radius: 15px;
    background-color: lightblue;
}

p{
    border: solid 3px;
    border-radius: 15px;
    background-color: lightgrey;
    font-style: italic;
    
}

button{
    border: solid 3px;
    border-radius: 5px;
}

img{
    border: solid 3px;
    border-radius: 15px;
}

body{
    padding: 50px;
    margin: 30px;
    border: 5px solid;
}
